footer{
  padding: 25px 0 5px 0;
  margin: 70px 0 0 0;
  background-color: #f7f7f7;
  bottom: -29px !important;
  position: relative;
  .container {
    .row {
      h3{
        font-size: 30px;
        color: #777;
      }
    }
  }
}
.end-footer {
  p {
    font-size: 15px;
  }
}
