<footer class="footer w-100 col-md-12">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8">
        <h3 class="text-center">
          Welcome to
          <img class="w-25 img-fluid" src="./assets/hult.jpg" alt="" />
        </h3>
        <hr />
        <p class="text-center text-winner">
          The Hult Prize challenges young people around the world to solve the
          planet's most pressing issues through social entrepreneurship.
        </p>
      </div>
    </div>
    <div class="row end-footer">
      <hr />
      <div class="col-md-6">
        <p class="text-center">© 2025 MOSTAFA IBRAHIM. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled mt-2 g-2">
          <li class="d-flex justify-content-center align-items-between gap-5">
            <a
              href="https://www.facebook.com/universityoftanta"
              class="text-reset"
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/hult_prize_tanta/"
              class="text-reset"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
