<div class="half-height-background"></div>

<section class="py-2">
  <div class="about">
    <div class="section">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>About US</h1>
        </div>
      </div>
    </div>

    <div class="row hult d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h1 class="header text-center">Hult Prize</h1>
        <h2 class="text-global  text-center">
          The Hult Prize challenges young people around the world to solve the
          planet's most pressing issues through social entrepreneurship.
        </h2>
      </div>
      <div class="col-md-6">
        <img
          src="./assets/hultg.jpg"
          class="img-fluid w-100"
          width="260"
          height="260"
          alt="hult"
        />
      </div>
    </div>
    <div class="row hult d-flex justify-content-center align-items-center">
      <div class="col-md-5">
        <img
          src="./assets/team.jpg"
          class="img-fluid tanta-img w-100"
          width="260"
          height="260"
          alt="hult"
        />
      </div>
      <div class="col-md-7">
        <h1 class="header text-center  ">Hult Prize Tanta</h1>
        <h2 class="text  text-center">
          Hult Prize at Tanta University is a student-led movement that
          challenges young minds to solve the world's most pressing issues. We
          are part of the global Hult Prize initiative, the world's largest
          student competition for social entrepreneurship. We aim to inspire and
          equip Tanta University students with the skills and resources to
          develop impactful business ideas that address critical social and
          environmental challenges. We believe that business can be a force for
          good, and we empower students to turn their innovative ideas into
          sustainable ventures that create positive change. Each year, we focus
          on the annual Hult Prize Challenge, a theme announced by the Hult
          Prize Foundation that tackles a pressing global issue. We organize
          workshops, training sessions, and networking events to help students
          develop their social ventures around the challenge theme.
        </h2>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="winners">
    <div class="section">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Winners 2023-2024</h1>
        </div>
      </div>
    </div>

    <div class="row d-flex align-items-center justify-content-center p-0">
      <div
        class="header d-flex align-items-center justify-content-center gap-3"
      >
        <i class="fa-solid fa-trophy fx-2"></i>
        <h2>Rebekia</h2>
      </div>
      <div class="col-md-4">
        <p class="text-center text">
          Rebekia is rewarding app to get best benefits from your old clothes, by our app you can  swap it by discounts & vouchers on life services.
          <a href="https://www.facebook.com/profile.php?id=100092230162131">Rebekia</a> <br /><span class="text-winner"
            >Rebekia gained first place in the Hult Prize at Tanta
            University.</span
          >
        </p>
        <img
          class="w-100 img-fluid"
          src="./assets/rebekia.jpg"
          alt="rebekia"
        />
      </div>
    </div>
    <hr />
    <div class="row p-0 d-flex align-items-center justify-content-center gap-5 my-2">
      <div class="col-md-4">
        <h2 class="text-center">
          Second place <span class="text-winner">Gargeera</span>
        </h2>
        <p class="text-center text">
          Gargeera is a startup company whose goal is to spread green spaces
          everywhere. One of its most important goals is to make all people
          profit from their crops.
        </p>
        <div class="image d-flex justify-content-center align-items-center">
          <img
            class="w-100 img-fluid"
            src="./assets/gargera.jpg"
            alt="gargera"
          />
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">
          Third place <span class="text-winner">Techy</span>
        </h2>
        <p  class="text-center text">
          Gargeera is a startup company whose goal is to spread green spaces
          everywhere. One of its most important goals is to make all people
          profit from their crops.
        </p>
        <div class="image d-flex justify-content-center align-items-center">
          <img
            class="w-100 img-fluid"
            src="./assets/techy.jpg"
            alt="techy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

