<div class="container">
  <div class="row">
    <div class="box">
      <h4 class="text-center">Awards for the 2023-2024 season</h4>
    </div>
  </div>
  <div class="row py-4 my-4 gap-5">
    <div class="col-md-7">
      <h3>Best Campus Director in Egypt</h3>
      <p>
        <span class="text-winner">Mostafa Ibrahim</span>, through his unwavering
        dedication and sincere commitment, achieved the prestigious accolade of
        Best Campus Director in Egypt. His leadership transcends mere
        management; it embodies a profound dedication to nurturing teams and
        fostering growth. With a keen focus on empowerment and support, Mostafa
        has proven himself as a transformative leader who not only guides but
        also inspires. His journey is marked by tireless efforts to assist every
        team member, utilizing his skills in project coordination, event
        organization, and team management. Mostafa exemplifies the qualities of
        a true leader: visionary, empathetic, and driven by a passion for
        excellence. His impact extends beyond mere achievement, resonating
        deeply within the community he serves, making him a beacon of leadership
        and inspiration.
      </p>
      <button routerLink="/details/1" class="btn btn-hult my-4">
        Read More
      </button>
    </div>
    <div class="col-md-4">
      <owl-carousel-o [options]="awardsOptions">
        <ng-template carouselSlide>
          <img
            src="./assets/mostaafaBest1.jpg"
            alt="mostaafaBest"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/mostaafaBest2.jpg"
            alt="mostaafaBest"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/mostaafaBest3.jpg"
            alt="mostaafaBest"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/mostafaBest9.jpg"
            alt="mostaafaBest"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <hr />
  <div
    class="row py-4 my-4 d-flex justify-content-between gap-5 align-items-center"
  >
    <div class="col-md-6">
      <h4 class="text-winner">
        Among the top five in the Middle East and North Africa
      </h4>
      <p>
        We're honored to be shortlisted for the Program of the Year Award, a top
        5 distinction in MENA! Thank you to everyone who made this possible.
      </p>
    </div>
    <div class="col-md-5">
      <owl-carousel-o [options]="awardsOptions">
        <ng-template carouselSlide>
          <img
            src="./assets/Top5.jpg"
            alt="Top5"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/Top51.jpg"
            alt="Top5"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <hr />
  <div
    class="row py-4 my-4 d-flex justify-content-between gap-5 align-items-center"
  >
    <div class="col-md-6">
      <h4 class="text-winner">
        We were chosen to organize the pilot summit led by Ministry of Higher
        Education and Scientific Research
      </h4>
      <p>
        In a distinguished honor, we were chosen by the Hult Prize National team
        to organize the Demo Summit under the Ministry of Higher Education and
        Scientific Research . This prestigious selection reflects the National
        team and Ministry's recognition of our team expertise and dedication. We
        are incredibly proud of this opportunity to contribute to such a
        significant initiative.
      </p>
    </div>
    <div class="col-md-5">
      <owl-carousel-o [options]="awardsOptions">
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS2.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS3.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS4.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS5.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS6.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS7.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS8.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/DemoS9.jpg"
            alt="DemoS1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <hr />
  <div
    class="row py-4 my-4 d-flex justify-content-between gap-5 align-items-center"
  >
    <div class="col-md-6">
      <h4 class="text-winner">
        We were honored by Tanta University for our efforts.
      </h4>
      <p>
        With immense pride and gratitude, we acknowledge the esteemed
        recognition bestowed upon us by Tanta University. Their unwavering
        support and guidance throughout the season have been instrumental in
        propelling us towards these remarkable achievements.
      </p>
    </div>
    <div class="col-md-5">
      <owl-carousel-o [options]="awardsOptions">
        <ng-template carouselSlide>
          <img
            src="./assets/tantaC2.jpg"
            alt="tantaC1"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/tantaC1.jpg"
            alt="tantaC2"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="./assets/tanttaC3.jpg"
            alt="tanttaC3"
            class="w-100 mt-2 mb-4 img-fluid"
          />
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <hr />
</div>
