.text-description
{
  font-size: 15px;
}

    @media only screen and (max-width: 575px) {

      .width,
      .container,
      .container-md,
      .container-sm {
        max-width: 100% !important;
      }
    }

    @media only screen and (min-width: 576px) and (max-width: 1400px) {

      .width,
      .container,
      .container-md,
      .container-sm {
        max-width:  75% !important;
      }
    }
 img {
  border-radius: 30px;
 }
