<div class="container">
  <div class="box">
    <h4 class="text-center">Best Member for the 2023-2024 Season</h4>
  </div>
  <div class="row d-flex justify-content-center align-items-center my-4 ">
      <div class="col-md-8">
        <h4 class="text-winner text-center">Ahmed Eid</h4>
        <p class="my-4 text-center">
          Ahmed, a dedicated HR member, is renowned for his steadfast
          commitment, attending every event with enthusiasm and wholehearted
          participation. His dedication to his work and strong sense of
          belonging are evident in his consistent and passionate engagement.
          Ahmed consistently delivers exceptional performance, as evidenced by
          his achievement as the top performer in 2023-2024. His high-level
          contributions reflect his exceptional work ethic and commitment to
          excellence, making him a respected and invaluable member of the team.
          Ahmed's ability to combine dedication with impactful results
          underscores his leadership qualities and positive influence within the
          organization.
        </p>
      </div>
      <div class="col-md-4 my-4">
        <img
          class="w-100 img-fluid"
          src="./assets/ahmed.jpg"
          alt="ahmed"
        />
      </div>
    <div class="row my-4">
      <div class="box mb-5">
        <h4 class="text-center">
          Best committee members for the 2023-2024 Season
        </h4>
      </div>

      <div class="col-md-3">
        <div class="box-details">
          <h3 class="text-winner text-center">Loay Samy</h3>
          <h4 class="my-4 text-center h5">Marketing Committee</h4>
          <img src="./assets/loay.jpg" alt="loay" class="w-100 mt-2 mb-4" height="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-details">
          <h3 class="text-winner text-center">Abdullah Ehab </h3>
          <h4 class="my-4 h5 text-center">HR Committee</h4>
          <img src="./assets/abdulllah.jpg" alt="abdulllah" class="w-100 mt-2 mb-4" height="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-details">
          <h3 class="text-winner text-center">Salma Alalfy </h3>
          <h4 class="my-4 h5 text-center">Public Relations Committee</h4>
          <img src="./assets/salma.jpg" alt="salma" class="w-100 mt-2 mb-4" height="300">
        </div>
      </div>
      <div class="col-md-3">
        <div class="box-details">
          <h3 class="text-winner text-center">Yousef Abbas</h3>
          <h4 class="my-4 h5 text-center">Media Committee</h4>
          <img src="./assets/yAbbas.jpg" alt="yAbbas" class="w-100 mt-2 mb-4" height="300">
        </div>
      </div>
    </div>
  </div>
</div>
