<div class="container">
  <div class="box">
    <h4 class="text-center">Best leader for the 2023-2024 season</h4>
  </div>
  <div class="row py-4 my-4 d-flex justify-content-center">
    <div class="col-md-8 leader">
      <h4 class="text-winner text-center">Menna Rafat</h4>
      <p>
        Menna is a highly responsible individual and a strong leader, known for
        her exceptional dedication and commitment to her work. She possesses a
        profound sense of loyalty and unwavering devotion to her
        responsibilities, consistently demonstrating a strong work ethic. Menna
        goes above and beyond to support and assist her team members, always
        offering her time and resources to help others succeed. Her ability to
        lead with integrity and inspire those around her makes her an invaluable
        asset to any team. Through her selflessness and hard work, Menna has
        earned the respect and admiration of her colleagues.
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="w-100 img-fluid"
        src="./assets/menna.jpg"
        alt="menna"
      />
    </div>
    <div class="col-md-12 py-4 py-lg-none">
      <button routerLink="/details/4" class="btn btn-hult">Read More</button>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center gap-4">
    <div class="box col-md-12">
      <h4 class="text-center">Best Vice for the 2023-2024 season</h4>
    </div>
    <div class="col-md-5 mt-4">
      <h4 class="text-winner">Yousef Nour</h4>
      <p>
        Yousef was an vice marketing , known for his unwavering dedication and
        commitment to his work. Throughout the season, he consistently offered
        his assistance to the team and his leader, always contributing with his
        innovative ideas. Yousef's proactive attitude and presence made him an
        invaluable asset, earning the respect and admiration of his colleagues.
      </p>
      <img src="./assets/yousefBest.jpg" alt="yousef" class="w-100" height="400">
      <button routerLink="/details/7"  class="btn btn-hult my-4"> Read More</button>
    </div>
    <div class="col-md-5 mt-4">
      <h4 class="text-winner">Noha Ibrahim</h4>
      <p>
        Noha, as Media Vice, consistently delivered exceptional work, showcasing
        our activities on social media with impressive photography and video
        editing skills. Her dedication and proficiency in media production
        significantly enhanced our online presence and effectively communicated
        our message, Noha's proactive attitude and presence made him an
        invaluable asset.
      </p>
      <img height="400"  src="./assets/nohaBest.jpg" alt="noha" class="w-100">
      <button routerLink="/details/11"  class="btn btn-hult my-4"> Read More</button>
    </div>
  </div>
</div>

